.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 2rem;
  margin-bottom: 3rem;
}
#copybtn,
#pastebtn {
  width: 100px;
  margin: auto;
  font-size: 1.2rem;
  background:brown;
  color: white;
  padding: 6px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}
#inputtext,
#outputtext {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  background: blanchedalmond;
}
.hide{
    display: none;
}
body{
    background:black;
    color: aliceblue;
}

