body{
    background: rgb(1, 1, 29);
    color: aliceblue;
    
}

h1 {
  text-align: center;
  margin: 2rem;
  font-size: 2.2rem;
  text-shadow: 1px 1px 2px red, 0 0 1em cyan, 0 0 0.2em blue;
}

.container {

  height:auto;
  width: 420px;
  background: rgb(5, 5, 62);
  margin: auto;
}
#input {
  grid-column: span 4;
  margin: 2px;
  padding-inline: 1.6rem;
  font-size: 1.5rem;
  background: rgb(37, 34, 34);
  height: 5rem;
  box-shadow: 0.4rem 0.4rem 1.2rem 0.8rem cyan;
  text-align: right;
  color: aliceblue;
  line-height: 96px;
  overflow-x: auto;
}
#input::-webkit-scrollbar{
  display: none;
}


.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

button {
  box-shadow:  0.4rem 0.4rem 1.2rem 0.8rem cyan;
  background: rgb(37, 34, 34);
  height: 5rem;
  font-size: 1.3rem;
  color: aliceblue;
  cursor: pointer;
  border: transparent
}
button:hover{
    box-shadow:  0 1rem 1.2rem 0.8rem cyan;

}
button:active{
    background: rgb(49, 47, 47);
    box-shadow:  0 1rem 1.2rem 0.8rem cyan;
}
#equals{
grid-column: span 2;
font-size: 1.8rem;
}
#equals:active{
    background: green;
}
#del:active{
    background: red;
}
